{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <div class="row justify-content-center my-3">
        <div class="col-7">
            <img src="{{ project.image.url }}" class="img-fluid">
        </div>
    </div>

    <h1 class="text-center mt-5" id="projectdetailtitle">{{ project.title }}</h1><br>

    <!--<h5 class="text-center text-muted mb-5">{{ post.date|date:'F jS Y' }}</h5>-->

    <p id="content">{{ project.content|safe }}</p>
    <br><br>

    <!-- Link button to works or code -->
    {% if project.url %}
        <div class="text-left">
        <a href="{{ project.url }}" target="_blank">
            {% if "github.com" in project.url %}
                <button type="button" class="btn btn-dark">Код на GitHub</button>
            {% elif "disk.yandex" in project.url %}
                <button type="button" class="btn btn-warning">Готовые работы на Яндекс.Диске</button>
            {% endif %}
        </a>
        </div>
    {% endif %}

    <br><br><br><br><br>
{% endblock %}

